
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">The Kingdom Age</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#home"> Home</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#services">Sermons</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#about"> About</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contacts"> News & Events</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="client"> Contact Us</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="client"> Posts</button>
        </div>
    </div>


    <span class="navbar-text">
        Navbar text with an inline element
    </span>
</nav>

@code {

}
